@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif !important;
}

body {
  background-image: URL(/images/bg.svg);
}

.glass {
  background: #111111ad;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px #898d8d67;
  color: #fff;
}

.incrise-size {
  animation: "incrizeSize 0.5s ease-in-out",
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.highlight {
  color: #fff;
}

.btc-white:hover {
  color: #fff !important;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);

  }

  100% {
    transform: scale(1);
  }
}

.typing-effect {
  font-family: Poppins;
  white-space: nowrap;
  overflow: hidden;
  animation: typing .5s steps(50, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }

  100% {
    border-color: transparent;
  }
}

.image-scale-up:hover {
  transform: "scale(1.4)",
}

